 /* Limpiadores */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elemento HTML */
p {
    margin: 0;
}

th, tr {
    user-select: none;
}

/* Estilos propios */
.fila-resultados:hover {
    background-color: rgb(232, 246, 255);
}

/* Bootstrap modificados */
.bg-success {
    background-color: rgb(40, 225, 40)!important;
}

.bg-warning {
    background-color: rgb(245, 239, 75)!important;
}

.bg-danger {
    background-color: rgb(245, 80, 80)!important;
}